<%- include('../partials/header') %>

<div class="container">
    <div style="width: 50%; margin: auto; margin-top: 50px;">
        <h1 style="text-align: center;">Edit comment on <%= campground['name'] %> </h1>
        <div style="width: 70%; margin: auto;">
            <form action=<%= "/campgrounds/" + campground._id + "/comments/" + comment._id %>  method="post" style="padding-top: 30px;">
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea name="comment[text]" id="comment" cols="30" rows="10" class="form-control"><%= comment.text %> </textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Update Comment</button>
            </form>
            <a href=<%= "/campgrounds/" + campground._id %>  role="button" style="margin-top: 5px;">Back</a>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>