<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/landing.css">

    <title>Yelp Camp</title>
</head>
<body>
    <div class="container">
        <% if (success && success.length > 0) { %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
        
        <% if (errorFlash && errorFlash.length > 0) { %>
            <div class="alert alert-danger" role="alert">
                <%= errorFlash %>
            </div>
        <% } %>
    </div>

    <div id="title-div" class="text-center">
        <h1>Welcome To YelpCamp!</h1><br>
        <a class="btn btn-success" href="/campgrounds">View Campgrounds</a>
    </div>

    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

<%- include('partials/footer') %> 