<%- include('partials/header') %>

<div class="container">
    <h1>Sign in</h1>
    <form action="/login"  method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            <input type="checkbox" onclick="showPassword()"> Show Password
        </div>
        <input type="hidden" name="referer" value=<%= referer %> >
        <button type="submit" class="btn btn-primary btn-block">Log In</button>
    </form>
    <a href="/campgrounds" role="button" style="margin-top: 5px;">Back</a>
</div>

<%- include('partials/footer') %>