<%- include('../partials/header') %> 

<div class="container central-div">
    <header class="jumbotron">
        <h1 class="display-4">Welcome to YelpCamp</h1>
        <p class="lead">The #1 site for finding the best fictional campsites.</p>
        <hr class="my-4">
        <p>Browse through over 50 of the the best campsites in the country, handpicked by professionals of 
            the Great Outdoors.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/campgrounds/new" role="button">Add a new campground</a>
        </p>
    </header>

    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% campgrounds.forEach(camp => { %>
            <div class="col-md-3 col-sm-6">
                <div class="card" style="margin-bottom: 10px;">
                    <img src=<%= camp['image'] %> alt="" class="card-image-top" style="max-width: 100%; max-height: 100%;">
                    <div class="card-body">
                        <h4><%= camp['name'] %></h4>
                        <a href=<%= "/campgrounds/" + camp._id %> class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>

        
</div>

<%- include('../partials/footer') %> 