<%- include("../partials/header") %> 

<div class="container">
    <div style="width: 50%; margin: auto; margin-top: 50px;">
        <h1 style="text-align: center;">Edit <%= campground.name %> </h1>
        <div style="width: 70%; margin: auto;">
            <form action=<%= "/campgrounds/" + campground._id + "?_method=PUT" %> method="post" style="padding-top: 30px;">
                <div class="form-group">
                    <label for="campName">Campground name:</label>
                    <input type="text" class="form-control" id="campName" aria-describedby="nameHelp" name="camp[name]" value="<%= campground.name %>" >
                    <small id="nameHelp" class="form-text text-muted">Enter the name of the campground here.</small>
                </div>
                <div class="form-group">
                    <label for="imgUrl">Campground image url:</label>
                    <input type="text" class="form-control" id="imgUrl" name="camp[image]" value=<%= campground.image %> >
                </div>
                <div class="form-group">
                    <label for="description">Campground Description:</label>
                    <textarea name="camp[description]" id="description" cols="30" class="form-control"><%= campground.description %> </textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Update Campground</button>
            </form>
            <a href="/campgrounds" role="button" style="margin-top: 5px;">Back</a>
        </div>
    </div>
    
</div>

<%- include("../partials/footer") %> 