<%- include("../partials/header") %> 

<!--<form action="/campgrounds" method="post">
    <input type="text" name="campName" placeholder="Campground Name...">
    <input type="text" name="imgUrl" placeholder="Image URL...">
    <button type="submit" class="btn btn-sm">Add Campground</button>
</form><br>-->

<div class="container">
    <div style="width: 50%; margin: auto; margin-top: 50px;">
        <h1 style="text-align: center;">Create a new Campground</h1>
        <div style="width: 70%; margin: auto;">
            <form action="/campgrounds" method="post" style="padding-top: 30px;">
                <div class="form-group">
                    <label for="campName">Campground name:</label>
                    <input type="text" class="form-control" id="campName" aria-describedby="nameHelp" name="campName" placeholder="Campground Name...">
                    <small id="nameHelp" class="form-text text-muted">Enter the name of the campground here.</small>
                </div>
                <div class="form-group">
                    <label for="imgUrl">Campground image url:</label>
                    <input type="text" class="form-control" id="imgUrl" name="imgUrl" placeholder="Image URL...">
                </div>
                <div class="form-group">
                    <label for="description">Campground Description:</label>
                    <textarea name="description" id="description" cols="30" class="form-control"></textarea>
                </div>
                <!--<div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>-->
                <button type="submit" class="btn btn-primary btn-block">Add Campground</button>
            </form>
            <a href="/campgrounds" role="button" style="margin-top: 5px;">Back</a>
        </div>
    </div>
    
</div>

<%- include("../partials/footer") %> 