<%- include("../partials/header") %>

<div class="container main-div central div">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 1</li>
                <li class="list-group-item">Info 1</li>
            </div>
        </div>

        <div class="col-md-9">
            <div class="card">
                <img src=<%= campground['image'] %>  class="card-img-top img-fluid" alt="" style="max-height: 100%; max-width: 100%;">
                <div class="card-body">
                    <div class="card-title-div auto-overflow">
                        <h5 class="card-title text-muted float-left"><%= campground['name'] %></h5>
                        <h5 class="card-title text-muted float-right">$9.00/night</h5>
                    </div>
                    <div class="card-title-div auto-overflow">
                        <h5 class="card-title text-muted">Submitted by: <%= campground.author.username %> </h5>
                    </div>

                    <% if (currentUser && campground.author.id.equals(currentUser._id)) { %>
                        <p>
                            <a href=<%= "/campgrounds/" + campground._id + "/edit" %>  class="btn btn-primary">Edit Campground</a>
                        </p>
                        <p>
                            <form action=<%= "/campgrounds/" + campground._id + "?_method=DELETE" %> method="post">
                                <button class="btn btn-danger" type="submit">Delete Campground</button>
                            </form>
                        </p>
                    <% } %>

                    <hr>
                    <p class="card-text">
                        <%= campground['description'] %>
                    </p>
                    <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                </div>
            </div> 
            
            <div id="reviews-div" class="card card-body bg-light">
                <div class="text-right mb-5">
                    <p>
                        <a href=<%= "/campgrounds/" + campground._id + "/comments/new" %>  class="btn btn-success">Add a new review</a>
                    </p>
                </div>
                <% campground['comments'].forEach(comment => { %>
                    <div class="row my-3">
                        <div class="col-md-12">
                            <div class="auto-overflow">
                                <strong><%= comment.author.username %></strong>
                                <span class="text-right float-right">10 days ago</span>
                            </div>
                            <p><%= comment['text'] %></p>
                            <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                                <div>
                                    <p class="float-left mr-2">
                                        <a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit" class="btn btn-warning">Edit Comment</a>
                                    </p>
                                    <form class="float-left" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="post">
                                        <button class="btn btn-danger" type="submit">Delete Comment</button>
                                    </form>
                                </div>
                            <% } %>
                            
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>

</div>

<%- include("../partials/footer") %>