.main-div{
    margin-top: 2em;
    margin-bottom: 2em;
}

.float-left{
    float: left;
}

.float-righ{
    float: right;
}

.auto-overflow {
    overflow: auto;
}

#reviews-div{
    margin-top: 0.5em;
}

body{
    background-image: url("https://images.unsplash.com/photo-1500332988905-1bf2a5733f63?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.central-div{
    background-color: white;
}